__pycache__/

*.mp4
*.csv
*.eps
*.tiff
*.bmp
*.DS_Store
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.txt
*.tff
*.tsv
.ipynb_checkpoints
*/.ipynb_checkpoints/*
fix_notebook.py
read_readme.py
dist
build
musicalgestures.egg-info
test-videos
.vscode/settings.json
dance.avi
musicalgestures/pose/mpi/pose_iter_160000.caffemodel
musicalgestures/pose/coco/pose_iter_440000.caffemodel
MusicalGesturesToolbox_devlocal.ipynb
musicalgestures/interactive.py
musicalgestures/pytest.ini
pytest.ini
tests/.coverage
tests/.vs/slnx.sqlite
tests/pytest.ini
tests/htmlcov
